
$toolbar_height:30px;

@mixin istyle($w:7px,$h:4px){
    width: $w;
    height: $h;
    background: url(../img/tools1200_sprite.png) no-repeat 0 -40px;
    margin-left: $w;
    margin-top:$w+6; 
    float:left;
}

.toolbar{
    height: $toolbar_height;
    background: #f7f7f7;
    border-top: 1px solid #FFF;
    border-bottom: 1px solid #e9e9e9;
    font-family: 'Microsoft YaHei';
    position: relative;
    b{
        position: absolute;
        width: 1px;
        height: 12px;
        display: block;
        background: url(../img/tools1200_sprite.png) no-repeat 0 -28px;
        top:9px; 
        right:-1px;
    }
    .inner{
        width:1190px;
        margin:0 auto;
        .blname{
            position: relative;
            width:156px;
            padding: 0 12px 0 18px;
            line-height: $toolbar_height;
            color: #8d8d8d;
            background: url(../img/bl_logo_m.png) left center no-repeat;        
        }        
    }
}

.sitemap{
    position: relative;
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
    a{
        display: block;
        color: #666;
        line-height: $toolbar_height;
        height: $toolbar_height;
        padding: 0 10px;
        span{
            float:left;
        }
        i{
            @include istyle;
        }

    }
}
.info{
    line-height: 30px;
    margin-left: 10px;
    text-align: center;
    position: relative;
    a{
        color: #666;
    }
}

.login-nav li:hover .subnav{display: block}
.login-nav{
    li{
        float: left;
        height: 30px;
        line-height: 30px;
        position: relative;
        .subnav{
            position: absolute;
            left: 0;
            top:32px;
            z-index: 777;
            background: #FFF;
            display: none;
        }
      b{
        position: absolute;
        width: 1px;
        height: 12px;
        display: block;
        background: url(../img/tools1200_sprite.png) no-repeat 0 -28px;
        top:9px; 
        right:-1px;
      }
        a{
            padding: 0 10px;
            color: #666;
            display: block;
          float:left;
            strong{  
                padding-left:5px;
                float: left;      
                width: 13px;
                height: 13px;
                background: url(../img/tools1200_sprite.png) no-repeat 0 -15px;
                margin-top: 8px;               
            }
            span{
                float: left;
            }
            i{
                @include istyle;
            }

        }
    }
}
.subsitmap{
    position: absolute;
    left:0;
    z-index: 666;
    background:white;
    display: none;
}

// fileheader
.fileheader{
    height: 70px;
    box-shadow: 0 3px 3px #eee;
    position: fixed;
    width:100%;
    top:-76px;
    z-index: 999;
    background:#fff;
    .inner{
        width:1190px;
        margin:0 auto;
      
        .filenav{
            width: 52px;
            float: left;
            margin-top: 11px;
            margin-right: 25px;
            position: relative;
            text-align: center;
            cursor: pointer;
            .flienavtitle{
                 line-height: 20px;
            }
           .flienavicon{
                width: 52px;
                height: 39px;
                line-height: 30px;
                font-size: 20px;
                background: #fff url(../img/filenavicon-1.png) no-repeat center 7px;
           }
        }
    }
}

.file-head-logo{
    float: left;
    margin-top: 9px;
    width: 380px;
    img{
        height:49px;
    }
}

.fileheader{
    .searchbox{
        float: left;
        height: 35px;
        margin-top: 17px;
        position: relative;
    }
    .search-box-button{
        height: 35px;
        width: 85px;
        background: #ff3d3d url(../img/ser_btnbg.png) no-repeat center center;
        border-top-right-radius: 3px;
        border-bottom-right-radius: 3px;
        border: 0;
    }
    .file-head-info{
        float: right;
        line-height: 70px;
        font-size: 15px;
        a{
            color: #666;
        }
        .span{
            padding: 0 10px;
        }
    }
}
.meetlate{
    .meetlate-r{
        margin-bottom: 20px;
    }
}

.meetlate-l{
    b{
        height: 50px;
        color: #333;
        font-size: 26px;
        line-height: 48px;
        display: inline-block;
    }
}

// cebianlouti

.navigation{
    display:none;
    width: 50px;
    height: 449px;
    position: fixed;
    top:70px;
    left:25px;
    background: url(../img/barnav3.jpg) no-repeat;
    a{
        width: 50px;
        height: 49px;
        display: block;
        color:#666;
        .navbox{
            width: 30px;
            height: 42px;
            line-height: 16px;
            text-align: center;
            cursor: pointer;
            padding: 7px 10px 0px;
         
        }
        .navbox-b{
            background: url(../img/bantop.png) no-repeat 0 0;
        }
    }
}
.active{
    background: #ff6f6f;
    .navbox{
        color:#fff;
    }
}